<ul class="menu">
    <li class="menu-item dropdown">File
        <div class="dropdown-content">
            <ul>
                <li>New subtitles <span>Ctrl+N</span></li>
                <li>Open subtitles <span>Ctrl+O</span></li>
                <li>Open subtitles with Charset</li>
                <li>Open subtitles ffom video</li>
                <li>Open autosaved subtitles</li>
                <li>Save subtitles<span>Ctrl+S</span></li>
                <li>Save subtitles as...<span>Ctrl+Shift+S</span></li>
                <li>Export subtitles</li>
                <li class="arrow-menu">Recent...
                    <span id="arrow">&#8711;</span>
                    <div class="arrow-menu-content">
                        <ul>
                            <li>Hekko</li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul>
                <li>Properties...</li>
                <li>Attachements...</li>
                <li>Font Collector...</li>
            </ul>
            <ul>
                <li>New Window</li>
                <li>Exit<span>Ctrl+Q</span></li>
            </ul>
        </div>
    </li>
    <li class="menu-item dropdown">Edit</li>
    <li class="menu-item dropdown">Subtitle</li>
    <li class="menu-item dropdown">Timing</li>
    <li class="menu-item dropdown">Video</li>
    <li class="menu-item dropdown">Audio</li>
    <li class="menu-item dropdown">Automation</li>
    <li class="menu-item dropdown">View</li>
    <li class="menu-item dropdown">Help</li>
</ul>