<div class="wrapper">
    <img src="assets/img/Action-file-new-icon.png" alt="new file">
    <img src="assets/img/open-file-folder-icon.png" alt="open file">
    <img src="assets/img/Save-icon.png" alt="">
    <div class="splitter"></div>
    <img src="assets/img/Actions-go-next-icon.png" alt="">
    <img src="assets/img/Zoom-In-icon.png" alt="">
    <img src="assets/img/Zoom-Out-icon.png" alt="">
    <img src="assets/img/go-to-currentsub-start.png" alt="">
    <img src="assets/img/go-to-currentsub-end.png" alt="">
    <div class="splitter"></div>
    <img src="assets/img/set-startof-currentsub-to-current-frame.png" alt="">
    <img src="assets/img/set-endof-currentsub-to-current-frame.png" alt="">
    <img src="assets/img/select-all-visible-lines.png" alt="">
    <img src="assets/img/Video-3-icon.png" alt="">
    <div class="splitter"></div>
    <img src="assets/img/styles-manager.png" alt="">
    <img src="assets/img/script-description.png" alt="">
    <img src="assets/img/Attachment-2-icon.png" alt="">
    <img src="assets/img/font-collector.png" alt="">
    <div class="splitter"></div>
    <img src="assets/img/automation.png" alt="">
    <div class="splitter"></div>
    <img src="assets/img/shift-subs-by-time.png" alt="">
    <img src="assets/img/styles-assistant.png" alt="">
    <img src="assets/img/fish-icon.png" alt="">
    <img src="assets/img/resample-subs.png" alt="">
    <img src="assets/img/Clock-icon.png" alt="">
    <img src="assets/img/kanji-time-copier.png" alt="">
    <img src="assets/img/spell-checker.png" alt="">
    <div class="splitter"></div>
    <img src="assets/img/configuration.png" alt="">
    <img src="assets/img/tag-hiding-modes.png" alt="">
</div>